// Media query breakpoints
@c-screen-width-limit: 1400px;
@c-tablet-horizontal: 1100px;
@c-tablet-vertical: 800px;
@c-tab-to-phone-vertical: 650px; // Midway point for annoying cases
@c-phone-vertical: 520px;


// Z-Indexing
@c-z-notifier: 9999; // Error messages & other user feedback

// Top down is regular site stuff excluding Notifications and Lightboxes
@c-z-top: 200; // Tooltips / always top things (things on hover)
@c-z-higher: 100; // Dialog menus
@c-z-mid: 50; // Important stuff like dropdowns that persist but should sit behind dialogs
@c-z-lower: 10; // External toolbars that float around etc

@c-z-base: 1; // Regular fields that need index for some reason
// Standard content defaults to no index


//Font standard sizing (Chrome default sizes)
@c-h1-size: 2em;
@c-h2-size: 1.5em;
@c-h3-size: 1.17em;
@c-h4-size: 1em;
@c-h5-size: 0.83em;
@c-h6-size: 0.67em;
