@import (reference) "./constants.less";

.hide() {
    display: none;
}

.hide {
    display: none;
}

@media screen and (max-width: @c-screen-width-limit) {
    .hide-max {
        .hide();
    }
}

@media screen and (max-width: @c-tablet-horizontal) {
    .hide-tab-horiz {
        .hide();
    }
}

@media screen and (max-width: @c-tablet-vertical) {
    .hide-tab-vert {
        .hide();
    }
}

@media screen and (max-width: @c-tab-to-phone-vertical) {
    .hide-tab-to-phone {
        .hide();
    }
}

@media screen and (max-width: @c-phone-vertical) {
    .hide-phone {
        .hide();
    }
}

.visually-hide {
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
}

.print-show {
    display: none;
}

.print-hide {
    display: inline-block;
}

@media print {
    .print-show {
        display: inline-block;
    }

    .print-hide {
        display: none !important;
    }
}

.transparent {
    opacity: 0;
}

.selection-wrap > *:not(.selection) {
    display: none;
}

.shrink-font {
    font-size: 0.8em;
}
