@import "./constants.less";

// --- Clear Helpers --- //
// Clearfix inline
.group() {
    & {
        zoom: 1;
    }

    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.group {
    .group();
}


// Clearfix separately
.clear() {
    display: block;
    clear: both;
    overflow: hidden;
    width: 0;
    height: 0;
}

.clear {
    .clear();
}

.clear-max, .clear-tab-horiz, .clear-tab-vert, .clear-tab-to-phone, .clear-phone {
    display: none;
}

@media screen and (max-width: @c-screen-width-limit) {
    .clear-max {
        .clear();
    }
}

@media screen and (max-width: @c-tablet-horizontal) {
    .clear-tab-horiz {
        .clear();
    }
}

@media screen and (max-width: @c-tablet-vertical) {
    .clear-tab-vert {
        .clear();
    }
}

@media screen and (max-width: @c-tab-to-phone-vertical) {
    .clear-tab-to-phone {
        .clear();
    }
}

@media screen and (max-width: @c-phone-vertical) {
    .clear-phone {
        .clear();
    }
}

// --- Spacing Helpers --- //
.no-pad() {
    & {
        padding: 0 !important;
    }
}

.no-pad {
    .no-pad();
}

.no-margin() {
    & {
        margin: 0 !important;
    }
}

.no-margin {
    .no-margin();
}


// --- Float Helpers --- //
.left {
    float: left;
}

.right {
    float: right;
}

// --- Vertical Helpers --- //
.top {
    position: absolute;
    top: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
}