/*
    Base Skeleton across solutions, add things here for resets/consistency across browsers etc.
    Kept unopinionated intentionally.
*/
@c-line-height: 1.5;
@c-link-color: #1476b8;
@c-visited-link-color: #660099;
@c-base-font-size: 16px;


html {
    font-size: @c-base-font-size;
    height: 100%;

    body {
        height: 100%;
        margin: 0;
        line-height: @c-line-height;
    }
}

a {
    text-decoration: none;

    &:link {
        color: @c-link-color;
    }

    &:visited {
        color: @c-visited-link-color;
    }

    &:hover {
        text-decoration: underline;
    }
}

// For old browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

button {
    cursor: pointer;
    font-size: 1em;
    line-height: @c-line-height;
}

input {
    padding: 0;
    font-size: 1em;
}

table {
    border-spacing: 0;
}

figure {
    position: relative;
    margin: 0;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}


img {
    border-style: none;
}

code,
kbd,
pre,
samp {
    font-family: monospace;
    font-size: 1em;
}
