@import (reference) "./library/import-ref.less";
@import (reference) "./variables.less";

.page-gallery {
    .gallery-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: @standard-space;

        .item {
            flex-basis: ~"calc(33.3333% - @{standard-space}/3)";
            width: ~"calc(33.3333% - @{standard-space}/3)"; //cross-brower flex-basis

            &.viewed {
                //opacity: 1;
                animation: pulse 1.25s ease-in-out;
            }

            @keyframes pulse {
                50% {
                    opacity: 0.5;
                }

                100% {
                    opacity: 1;
                }
            }

            > a {
                width: 100%;

                > img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
            }
        }
    }

    @media screen {
        @media (max-width: @c-screen-width-limit) {
            .gallery-items {
                .item {
                    > a {
                        > img {
                            height: 275px;
                        }
                    }
                }
            }
        }

        @media (max-width: @c-tablet-horizontal) {
            .gallery-items {
                .item {
                    > a {
                        > img {
                            height: 225px;
                        }
                    }
                }
            }
        }

        @media (max-width: @c-tablet-vertical) {

            .gallery-items {
                margin-top: @mobile-space;

                .item {
                    flex-basis: ~"calc(50% - @{mobile-space}/2)";
                    width: ~"calc(50% - @{mobile-space}/2)"; //cross-brower flex-basis
                    > a {
                        > img {
                            height: 200px;
                        }
                    }
                }
            }
        }

        @media (max-width: @c-tab-to-phone-vertical) {
            .gallery-items {
                .item {
                    > a {
                        > img {
                            
                        }
                    }
                }
            }
        }

        @media (max-width: @c-phone-vertical) {
            .gallery-items {
                .item {
                    > a {
                        > img {
                            height: 150px;
                        }
                    }
                }
            }
        }
    }
}
