@import "./library/import.less";
@import (reference) "./variables.less";

// --- Client Element Base Styles --- //

h1, h2, h3, h4, h5, h6 {
    font-family: @header-font-family;
    color: @header-font-color;
}

p, span, a {
    font-family: @body-font-family;
    color: @body-font-color;
}

ul {
    list-style: none;
    .no-pad;
}

body {
    > header {
        display: inline-block;
        width: 100%;
        background-color: @header-background-color;
        text-align: center;
        border-bottom: solid 1px darken(@header-background-color, 15%);

        .title {
            font-weight: 400;
        }
    }

    > main {}

    @media screen {
        @media (max-width: @c-phone-vertical) {
            > header {
                .title {
                    .no-margin;
                }
            }
        }
    }
}




// --- Client Tools (TODO: Potentially move to common library) --- //
// --- Width Helpers --- ///
.screen-width-limit {
    max-width: @c-screen-width-limit;
    margin: auto;
    position: relative;

    > * {
        padding: 0 @standard-space;
    }

    @media screen {
        @media (max-width: @c-tablet-vertical) {
            > * {
                padding: 0 @mobile-space;
            }
        }

        @media (max-width: @c-phone-vertical) {
            > * {
                padding: 0 0;
            }
        }
    }
}