@import "./library/import-ref.less";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');


//Shared Styles
@standard-space: 2em;
@mobile-space: 1em;

@header-background-color: #F5F5F5;
@foreground-color: #DEDEDE;

@header-font-family: 'Open Sans', sans-serif;
@body-font-family: @header-font-family;
@header-font-color: #555;
@body-font-color: #555;


// Gallery


// Viewer
