@import (reference) "./library/import-ref.less";
@import (reference) "./variables.less";


.page-viewer {
    background-color: black;

    > header {
        background-color: #333333;
        border-bottom: none;

        .title {
            color: @foreground-color;
        }

        .close {
            position: absolute;
            top: 2em;
            right: 4em;
            background: none;
            border: none;

            svg {
                color: @foreground-color;
                font-size: 1.5em;
            }
        }
    }

    > main {
        overflow: hidden;

        .swipe-wrap {
            .no-pad;

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-height: 450px;

                &.hide {
                    display: none !important;
                }
                &.show {
                    left: 0 !important;
                }

                img {
                    max-width: 100%;
                    margin: auto;
                    display: block;
                }
            }
        }
    }

    > footer {
        .viewer-toolbar {
            background-color: #333333;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            .no-margin;

            > li {
                flex-basis: 25%;
                width: 25%; //cross-brower flex-basis
                button {
                    padding: 1em;
                    margin: auto;
                    display: block;
                    background: none;
                    border: none;

                    svg {
                        font-size: 1.5em;
                        color: #DEDEDE;
                    }
                }
            }
        }
    }

    @media screen {
        @media (max-width: @c-phone-vertical) {
            > header {
                .close {
                    top: 0.7em;
                    right: 1em;
                }
            }
        }
    }
}